table {
    border-collapse: collapse;
    border: 1px solid grey;
}

th, td {
    border: 1px solid grey;
}

.footer {
    background: rgb(113 114 111);
    padding-bottom: 64px;
    padding-top: 91px;
    margin-top: 112px;
}

.navbar-static-top {
    background-color: rgb(169 171 168);
    padding: 8px 15px;
    list-style: none;
    border-radius: 4px;
}