.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-container  {
    flex: 1 0 auto;
    margin: 0 10px;
    text-align: center;
}

.footer-container  {
    flex: 0 0 auto;
    text-align: center;
    background-color: #cdcaca;
    padding-bottom: 10px;
}

.button-auth {
    min-width: 200px;
    margin-right: 10px;
}

.active {
    background-color: #cdcaca;
}